#############
## Idea
#############
target/
.idea/
.idea
.vscode/
.vscode
.repository/
*.iml
*.iws

*.class
*.info
*.properties
*.jar


/out/
/lib/javafx-sdk-18.0.1/src.zip
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
